* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.home {
  height: 130vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing {
  border: 1px solid rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  width: 375px;
  height: 700px;
  background-color: #f7f8f9;
}
.landing .heading {
  position: relative;
  top: 349px;
  left: 20px;
}
.landing .heading h1 {
  text-align: left;
  font-size: 25px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
}
.landing .paragraph {
  position: relative;
  top: 349px;
  left: 20px;
  width: 232px;
  height: 48px;
}
.landing .paragraph p {
  text-align: left;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 0.6;
}
.landing .Createaccount{
  position: relative;
  top: 369px;
  left: 20px;
  width: 90%;
  height: 46px
}
.landing .Createaccount a{
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6c25ff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: bolder;
}
.landing .already {
  border-radius: 10px;
  position: relative;
  top: 390px;
  left: 20px;
  width: 90%;
  height: 46px;
}
.landing .already a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6c25ff4b 0% 0% no-repeat padding-box;
  border-radius: 6px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-weight: bolder;
} 

/* Login */
.login {
  border: 1px solid rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  width: 375px;
  height: 700px;
  background-color: #f7f8f9;
}
.login .heading {
  position: relative;
  top: 40px;
  left: 20px;
  width: 188px;
  height: 69px;
}
.login .heading h1 {
  text-align: left;
  font-size: 25px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
}
.login .paragraph {
  position: relative;
  top: 60px;
  left: 20px;
  width: 60%;
  height: 48px;
}
.login .paragraph p {
  text-align: left;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 0.6;
  font-weight: bolder;
}
.login .email {
  position: relative;
  top: 100px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.login .email fieldset {
  width: 100%;
  height: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  opacity: 1;
}
.login .email fieldset legend {
  position: relative;
  left: 10px;
  text-align: left;
  letter-spacing: 0px;
  color: #6c25ff;
  opacity: 1;
}
.login input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  opacity: 0.9;
  border-radius: 6px;
  margin-left: 10px;
  mix-blend-mode: multiply;
}
.login .email1 {
  position: relative;
  top: 120px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.login .email1 fieldset {
  width: 100%;
  height: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  opacity: 1;
}
.login .email1 fieldset legend {
  position: relative;
  left: 10px;
  text-align: left;
  letter-spacing: 0px;
  color: #6c25ff;
  opacity: 1;
}
.login .button {
  position: relative;
  top: 140px;
  left: 20px;
  width: 335px;
  height: 46px;
}
.login .button a {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cbcbcb 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  color: white;
  font-weight: bolder;
}

/* Signup */
.signup {
  border: 1px solid #00000000;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 700px;
  background-color: #f7f8f9;
}
.signup .heading {
  position: relative;
  top: 40px;
  left: 20px;
  width: 188px;
  height: 69px;
}
.signup .heading h1 {
  text-align: left;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
  font-size: 25px;
}
.signup .name {
  position: relative;
  top: 60px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.signup .phone {
  position: relative;
  top: 70px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.signup .email {
  position: relative;
  top: 80px;
  left: 20px;
  width: 335px;
  height: 50px;
}

.signup .password {
  position: relative;
  top: 90px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.signup .company {
  position: relative;
  top: 100px;
  left: 20px;
  width: 335px;
  height: 50px;
}
.signup fieldset {
  width: 100%;
  height: 100%;
  border: 1px solid #cbcbcb;
  border-radius: 6px;
  opacity: 1;
}
.signup fieldset legend {
  position: relative;
  left: 10px;
  text-align: left;
  letter-spacing: 0px;
  color: #6c25ff;
  opacity: 1;
}
.signup input {
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  opacity: 0.9;
  border-radius: 6px;
  margin-left: 10px;
  mix-blend-mode: multiply;
}
.signup legend::after {
  content: "*";
  color: red;
}
.radio p::after {
  content: "*";
  color: red;
}
.signup .radio {
  position: relative;
  top: 110px;
  left: 20px;
  width: 160px;
  height: 47px;
}
.signup .radio .label {
  display: flex;
  height: 20px;
  gap: 10px;
  margin-top: 5px;
}
.signup .radio .label .label1 {
  display: flex;
  gap: 5px;
}
.signup .button {
  position: relative;
  top: 256px;
  left: 20px;
  width: 335px;
  height: 46px;
}
.signup .button button {
  height: 100%;
  width: 100%;
  background: #6c25ff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;
  border: none;
  font-size: 15px;
  font-weight: bolder;
  color: white;
}

/* Profile */
.profile {
  border: 1px solid #00000000;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 700px;
  background-color: #f7f8f9;
}
.profile .heading {
  width: 375px;
  height: 58px;
}
.profile .heading p {
  height: 100%;
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000007;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.profile .propic {
  height: 17%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.profile .svg {
  position: relative;
  top: 0px;
  right: 15px;
  width: 21px;
  height: 23px;
}
.profile .propera {
  text-align: justify;
  padding: 15px 20px;
  border-bottom: 0.5px dashed rgba(0, 0, 0, 0.135);
  opacity: 1;
  font-size: 13px;
}
